<% @users.each do |user| %>
  <div class="user_container">
    <div class="user_img">
      <%= image_tag("image1.jpg", width:'100vw', height:'100%') %>
    </div>
    <div class="user_data">
      <h2><a href='/users/<%=user.id%>'><%= user.name%></a></h2>
      <p><a href="/users/<%=user.id%>/posts/"> Number of posts: <%= user.posts_counter %></a></p>
    </div>
  </div>
<%end%>
