<div class="user_container">
  <div class="user_data_post">
    <h2><%= @post.title %> by <span><%= @post.user.name %></span></h2>
    <%= form_with url: "/posts/#{@post.id}/likes", scope: :like do |form| %>
      <%= form.submit "Like this post", class: "post-like-btns"%>
    <% end %>
    <h3>Comment <%= @post.comments_counter%>,  <span>Likes <%= @post.likes_counter%></span></h3>
    <% if can? :destroy, @post %>
      <%= button_to 'Delete Post',
            post_path,
            method: :delete,
            data: {confirm: 'Are You Sure You Want to Delete This Post'}, class: 'btn btn-danger'%>
    <% end %>
  </div>
</div>
<div>
  <div class="comments">
    <% @post.recent_5_comments.each do |comment| %>
      <h2><%= comment.user.name%>: <%= comment.text%></h2>
      <% if can? :destroy, comment %>
        <%= link_to "Destroy", post_comment_path(commnet_id: comment.id,  post_id: @post.id), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %>
      <%end%>
    <% end %>
    <%= render "comments/comment" %>
  </div>
</div>
